.wrapper {
  height: 48px;

  .select {

    :global{
      .ant-select-selector {
        height: 48px!important;
        text-align: left;

        .ant-select-selection-item {
          line-height: 46px;
        }
      }
      input {
        padding: 10px;
        height: 48px;
      }
    }
    .option {

    }
  }
}
