@import "./src/styles/variables";
.three {
  background-color: #ffffff;
  background-image: url("../../images/block-three-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 100px;
  width: 100%;
  z-index: 3;
  .wrapper {
    background-color: transparent;
    width: 100%;
    max-width: 1140px;
    padding-top: 128px;
    padding-bottom: 128px;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    &:after{
      content:'';
      position: absolute;
      top: -128px;
      display: block;
      width: 100%;
      height: 128px;
      background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    }
    .title {
      font-family: 'gilroy';
      font-weight: 300;
      font-size: 32px;
      line-height: 48px;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      background-image: $color-gradient;
      max-width: 440px;
      margin: 0 auto;
    }
    p {
      max-width: 700px;
      font-family: "gotham";
      font-size: 16px;
      line-height: 24px;
      font-weight: 440;
      margin: 56px auto 120px auto;
    }
    .item {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      line-height: 24px;
      font-family: 'gilroy';
      font-weight: 600;
      align-items: center;
      position: relative;
      &:not(:last-child):before {
        position: absolute;
        top: 50%;
        right: -10px;
        content: "";
        width: 24px;
        height: 24px;
        background: url("../../images/chevron.svg");
        background-position: center;
        background-repeat: no-repeat;

      }
      img {
        width: 80px;
        margin-bottom: 36px;
      }
    }
    .subText {
      display: flex;
      flex-direction: column;
      color: $color-light;
      font-size: 16px;
      line-height: 16px;
      max-width: 560px;
      margin: 120px auto 0 auto;
      span {
        color: $color-light;
        font-size: 12px;
        line-height: 16px;
        margin-top: 16px;
      }
    }
  }
}

@media (max-width: 768px) {
  .three{
    .wrapper {
      padding-top: 20px;
      .subText {
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 576px) {
  .three{
    .wrapper {
      padding-top: 20px;
      .item {
        margin-bottom: 50px;
        img{
          margin-bottom: 0;
        }
        &:not(:last-child):before {
          right: 50%;
          margin-right: -10px;
          transform: rotate(90deg);
          top: 110%;
        }
      }
      .subText {
        margin: 50px auto 0 auto;
      }
    }
  }
}
