// Color
$color-black: #121315;
$color-middle-black: #212326;
$color-dark: #212D42;
$color-light: #A2A9B5;
$color-blue: #157BD9;
$color-grey: #606D85;
$color-middle-grey: #596883;
$color-grey-two: #D9D9D9;
$color-grey-three: #999CA0;
$color-select: #7D7D7D;
$color-form-label: #303030;
$color-red: #E93323;
$color-salad: #B7EC4E;
$color-salad-font: #2F3E12;

//Gradient
$color-gradient: linear-gradient(135deg, #92CE1D 20%, #147AD8 65%)