html, body, #root {
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #556c72;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.link {
  color: #bfcbce;
  text-decoration: none;
  border-bottom: 1px solid #bfcbce;
}
.link:hover {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.ant-form-item-explain-error {
  text-align: left;
}
.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner, :where(.css-dev-only-do-not-override-1m62vyb).ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner{
  border-color: #093945 !important;
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
  background-color: #093945;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color:  #093945;
  border-color:  #093945;
}
.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled):after {
  border-color: #093945;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 992px) {
  .formWrap {
    margin-top: auto;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
