html, body, #root {
  height: 100%;
  overflow-x: hidden;
}
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  padding: 0px;
  box-sizing: border-box;
  color:#000000;
  font-family: "gotham";
  position: relative;
}
.currSelect {

}
.ant-select-dropdown .ant-select-item-option-content {
  display: flex;
  align-items: center
}
.ant-select-dropdown .ant-select-item-option-content img{
  margin-right: 8px;
}
.gradient {
  width: 372px;
  position: absolute;
  bottom: 720px;
  left: 50%;
  margin-left: -840px;
  z-index: 3;
}

.ant-form-item .ant-form-item-explain-error {
  text-align: left;
}

.ant-form-item-has-error .ant-input {
  border-color: #E93323;
}
.ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none;
}

/*.page {
  padding: 32px 30px;
}*/


@media (max-width: 762px) {

}
