:global {
  .ant-form-item {
    position: relative;
    &.ant-form-item-has-error{
      .ant-checkbox-inner {
        border-color: #E53434;
      }
    }
    .ant-form-item-control {
      .ant-form-item-control-input {
        min-height: 20px;
      }
    }
  }
}

.checkbox {
  align-items: center;
  display: flex;
  :global {
    span:not(.ant-checkbox-inner) {
      top:initial;
    }
    .ant-checkbox-inner {
      width: 24px;
      height: 24px;
      &:after {
        width: 6px;
        inset-inline-start: 28%;
        height: 10px;
      }
    }
  }
}